<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Result</title>
    <link rel="stylesheet" href="\static\score.css">
</head>
<body>
    <div class="result-container">
        <h2>Quiz Completed!</h2>
        {% if score_percentage > 90 %}
            <p class="message">&#127881; Excellent! You mastered this quiz! &#129395;</p>
            <p class="encouragement">Keep challenging yourself with more quizzes. &#128079;</p>

        {% elif score_percentage >= 50 and score_percentage <= 80 %}
            <p class="message"> &#128522; You have passed the test! &#127919;</p>
            <p class="encouragement">Great job! Keep practicing to improve even more. &#128079;</p>

        {% elif score_percentage < 50 %}
            <p class="message">&#128528; You didn’t pass this time. Don't worry! 🔄</p>
            <p class="encouragement">Try again and keep improving. Practice makes perfect! ✨</p>
            {% set id = quiz_id %}
            <a href="/quiz/{{ id }}/questions" class="retry-button"> &#128519; Retry Quiz </a>

        {% endif %}
        <p>You answered <strong>{{ correct_count }}</strong> out of <strong>{{ total_questions }}</strong> questions correctly.</p>
        <p class="score">Your Score: <strong>{{ score_percentage }}%</strong></p>
<!--        <a href="/">Back to Home</a>-->
    </div>
</body>
</html>
