{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="actions">
        <button onclick="location.href='/create/'">Create</button>
        <button onclick="updatePokemon()">Update</button>
        <button onclick="deletePokemon()">Delete</button>
        <button onclick="location.href='/read_data'">View</button>
    </div>

    <div class="search-bar">
        <input type="text" id="searchById" placeholder="Search by ID">
        <button onclick="searchById()">Search</button>

        <input type="text" id="searchByName" placeholder="Search by Name">
        <button onclick="searchByName()">Search</button>
    </div>

</div>

<script>
    function searchById() {
        const id = document.getElementById('searchById').value;
        if (id) {
            window.location.href = `/pokemon/${id}`;
        }
    }

    function searchByName() {
        const name = document.getElementById('searchByName').value;
        if (name) {
            window.location.href = `/pokemon_by_name/${name}`;
        }
    }

    function updatePokemon() {
        const selected = document.querySelector('input[name="selected_pokemon"]:checked');
        if (selected) {
            window.location.href = `/pokemon/${selected.value}`;
        } else {
            alert('Please select a Pokémon to update.');
        }
    }

    function deletePokemon() {
        const selected = document.querySelector('input[name="selected_pokemon"]:checked');
        if (selected) {
            fetch(`/pokemon/${selected.value}`, {
                method: 'DELETE'
            }).then(response => response.json())
              .then(data => alert(data.message))
              .catch(error => alert('Error: ' + error));
        } else {
            alert('Please select a Pokémon to delete.');
        }
    }
</script>
{% endblock %}
