<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemons</title>
    <link rel="stylesheet" href="/static/pokemon_list.css">
</head>
<body>
<div class="container">
<h1>Pokemon List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Weight</th>
                <th>XP</th>
                <th>image_url</th>
                <th>pokemon_url</th>
                <th>abilities</th>
                <th>Stat</th>
                <th>types</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in pokemons %}
            <tr>
                <td><strong>{{ pokemon.name | capitalize }}</strong></td>
                <td>{{ pokemon.height }} cm</td>
                <td>{{ pokemon.weight }} kg</td>
                <td>{{ pokemon.xp }}</td>
                <td><a href="{{ pokemon.image_url }}" target="_blank">{{ pokemon.name }}-image</a></td>
                <td><a href="{{ pokemon.pokemon_url }}" target="_blank">{{pokemon.name}}</a></td>
                <td>{{ pokemon.abilities }}</td>
                <td>{{ pokemon.stats }}</td>
                <td>{{ pokemon.types }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    console.log("Pokémon data is already rendered by Jinja2.");
</script>